.welcome-message {
    position: absolute;
    margin-top: 3vh;
}
.welcome-title {
    font-size: clamp(15px, 2vw, 30px);
}

.color-block {
    background: linear-gradient(180deg, rgba(14, 76, 141, 1) 0%, rgba(19, 55, 105, 1) 100%);
}
.row {
    row-gap: 25px;
}

.block {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.body-content {
    margin: 50px 0 50px 0;
}

.icons {
    border-radius: 20px;
}
.navbar-content {
    display: flex;
}
.footer {
    padding-top: 50px;
}
.footer-inner {
    text-align: center;
}
.block-title a {
    font-weight: 500;
    color: black;
    text-decoration: none;
    font-size: clamp(15px, 2vw, 30px);
}
.map-holder {
    width: 600px;
    height: 600px;
    border-radius: 50%;
}
.navbar-container {
    padding-bottom: 5vh;
}
.Mobile {
    display: none;
}
.welcome-title {
    font-weight: 500;
}
@media only screen and (max-width: 600px) {
    .welcome-message {
        position: absolute;
        margin-top: 9vh;
    }

    .banner-second {
        display: none;
    }
    .Mobile {
        display: block;
        width: 100%;
    }
    .navbar-container {
        text-align: center;
    }
    .navbar-content {
        height: 7vh;
        background: linear-gradient(180deg, rgba(14, 76, 141, 1) 0%, rgba(19, 55, 105, 1) 100%);
    }
    .banner-first {
        display: none;
    }
}
